// Styles for Menus and Navs
// -----------------------------------------------------------------------------
.navbar {
  border: none;
  border-radius: 0px;
  padding: 20px 0;
  margin-bottom: 0px !important;
  &.navbar-default {
    background-color: white;
  }
  .navbar-brand {
    padding: 0;
    padding-left: $padding-base-horizontal;
    #logo {
      height: 50px;
    }
    @media(min-width: $screen-md-min) {
      margin-top: -10px;
      #logo {
        height: 70px;
      }
    }
  }

}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default {
  .navbar-nav {
    & > li > .dropdown-menu {
      margin-top: -1px;
      z-index: 1;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    & > li > a {
      border: 1px solid transparent;
      .dropdown-menu {
        border: 1px solid #ddd;
        border-radius: 6px;
      }
    }
    & > li > a:hover,
    & > .open > a {
      border: 1px solid #ddd;
      border-radius: 6px;
    }

    & > .open > a,
    & > .open > a:hover {
      position: relative;
      background-color: transparent;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-color: white;
      z-index: 2;

    }
  }
}

.dropdown-menu > li > a {
  padding: 10px 20px;
  &:hover {
    background-color: transparent;
    color: $brand-primary;
  }
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
}

#main-menu {
  a {
    font-size: 16px;
  }
  a.active {
    color: $brand-primary;
  }
}

// 底部菜单
#footer {
  .menu {
    display: table;
    width: 100%;
    &>li {
      display: table-cell;

      &>a {
        padding: 0;
        color: inherit;
        font-size: 18px;
        line-height: 60px;

        &.nolink {

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    .secondary {
      list-style-type:none;
      padding: 0;

      a {
        font-size: 14px;
        line-height: 30px;
        display: block;
        
        &:hover {
          color: $brand-primary;
          text-decoration: none;
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      display: block;
      &>li {
        display: block;
        border-top: 1px solid #222;
        padding: 5px;
        &>a {
          line-height: 32px;
        }
      }
    }
  }
}